html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body {
    background-color: rgba(0,0,0,0);
}

.section h3 {

}

.section {
  font-size: 42px;
  text-align: center;
  margin-top: 35px;
  letter-spacing: 3px;
  font-weight: 500;
  color: #34495e;
  text-transform: capitalize;
  border-bottom: solid 1px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  padding-bottom: 5px;
}

h1, h3 {
    color: rgb(51,74,92);

}

p {
    color: black;
    font-size: 21px;
}

.logo {
  height:60px;background:
  rgb(51,74,92);padding-top: 1px;

}
.logo1 {
  padding: 10px;
  width: 40px;
  color:#fff;
  letter-spacing:2px;
}

nav {
  background-color: rgb(51,74,92);
}

.menu-nav {
  background-color: rgb(51,74,92);
}

ul {
  list-style-type: none;
  margin: 0;
  margin-left: 400px;
  padding: 0;
  overflow: hidden;
  /*background-color: #98bf21;*/
  background-color: rgb(51,74,92);
}

a:link, a:visited {
  display:block;
  font-weight:bold;
  color: #FFFFFF;
  /*background-color: #98bf21;*/
  width: 180px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
}
a:hover, a:active {
  /*background-color: rgba(19, 78, 124, 1);*/
}

li {
  float: left;
}

video {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
}

.wrap {
  float: left;
  width: 500px;
}

.visit {
  float: right;
  /*border-bottom: solid 1px;*/
  width: 50%;
}

.wrapper {
  float: right;
  width: 500px;
}

.activities {
  float: left;
  /*border-bottom: solid 1px;*/
  width: 50%;
}

img {

  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  padding: 5px;
}

.arriving {
  background: rgba(0, 0, 0, 0);
}

.plane {
  width: 500px;
  float: left;
  margin-left: 100px;
}

.plane {
  text-align: center;
}
.bus {
  text-align: center;
}
.bus {
  width: 500px;
  float: right;
  margin-right: 100px;
}
