body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../images/sarajevo-footer-large.jpeg');
  min-height:100%;
}

.pimg2{
  background-image:url('../images/old-town-bascarsija-sarajevo.jpeg');
  min-height:400px;
}

.pimg3{
  background-image:url('../images/40916386.jpeg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}





a {
  text-decoration: none;
  padding-bottom: 5px;
}



.logo {
  height:60px;background:
  rgb(51,74,92);padding-top: 1px;

}
.logo1 {
  padding: 10px;
  width: 40px;
  color:#fff;
  letter-spacing:2px;
}

nav {
  background-color: rgb(51,74,92);
}

.menu-nav {
  background-color: rgb(51,74,92);
}

ul {
  list-style-type: none;
  margin: 0;
  margin-left: 400px;
  padding: 0;
  overflow: hidden;
  /*background-color: #98bf21;*/
  background-color: rgb(51,74,92);
}

a:link, a:visited {
  display:block;
  font-weight:bold;
  color: #FFFFFF;
  /*background-color: #98bf21;*/
  width: 180px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
}
a:hover, a:active {
  /*background-color: rgba(19, 78, 124, 1);*/
}

li {
  float: left;
}

video {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
}

.visit {
  float: right;
  /*border-bottom: solid 1px;*/
  width: 50%;
}


.activities {
  float: left;
  /*border-bottom: solid 1px;*/
  width: 50%;
}

img {

  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  padding: 5px;
}

.arriving {
  background: rgba(0, 0, 0, 0);
}

.plane {
  width: 500px;
  float: left;
  margin-left: 100px;
}

.plane {
  text-align: center;
}
.bus {
  text-align: center;
}
.bus {
  width: 500px;
  float: right;
  margin-right: 100px;
}
