html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body {
    background-color: rgba(0,0,0,0.5);
}
.logo {
  padding: 10px;
}

.section h3 {

}

.section {
  font-size: 42px;
  text-align: center;
  margin-top: 35px;
  letter-spacing: 3px;
  font-weight: 500;
  color: #34495e;
  text-transform: capitalize;
  border-bottom: solid 1px;
}
a {
  text-decoration: none;
  padding-bottom: 5px;
}

.visit {
  border-bottom: solid 1px;
}
.activities {
  border-bottom: solid 1px;
}

h1, h3 {
    color: rgb(51,74,92);

}

p {
    color: black;
    font-size: 21px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #98bf21;*/
  background-color: rgb(51,74,92);
}

a:link, a:visited {
  display:block;
  front-weight:bold;
  color: #FFFFFF;
  /*background-color: #98bf21;*/
  width: 180px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
}
a:hover, a:active {
  background-color: #7A991A;
}

li {
  float: right;
}

video {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
}
